<div id="divPopupBg" class="_divPopup_bg">
</div>
<div id="divPopupUpdateIndicator" class="_divPopup_border _divPopup_wrapperMain" style="width: 700px;">
    <div class="_divPopup_wrapper">
        <div style="height: 30px;" class="barpopup">
            <div style="float: left;" class="titlepopup">
                Add Key Indicator
            </div>
            <div style="float: right;" class="popupclosebutton" title="Close">
                &nbsp;</div>
            <div style="clear: both;">
            </div>
        </div>
        <div class="content_popup" style="width: 340px; float: left; border-right: 1px solid #ddd">
            <div class="form">
                <div class="row">
                    <ul>
                        <li class="text">Indicator:</li>
                        <li>
                            <input type="text" tabindex="1" id="txtIndicator" style="width: 180px;" maxlength="10" femty="*" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Unit:</li>
                        <li>
                            <select tabindex="2" style="width: 108px;" class="select" id="ddlUnit">
                                <option value="Billion">Billion</option>
                                <option value="Number">Number</option>
                                <option value="Customer">Customer</option>
                                <option value="Day">Day</option>
                                <option value="Total">Total</option>
                                <option value="%">%</option>
                            </select>
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Jan:</li>
                        <li>
                            <input type="text" tabindex="3" id="txtT1" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Feb:</li>
                        <li>
                            <input type="text" tabindex="4" id="txtT2" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Mar:</li>
                        <li>
                            <input type="text" tabindex="5" id="txtT3" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Apr:</li>
                        <li>
                            <input type="text" tabindex="6" id="txtT4" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">May:</li>
                        <li>
                            <input type="text" tabindex="7" id="txtT5" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>                            
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="content_popup" style="float: left; width: 340px;">
            <div class="form">
                <div class="row">
                    <ul>
                        <li class="text">Jun:</li>
                        <li>
                            <input type="text" tabindex="8" id="txtT6" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Jul:</li>
                        <li>
                            <input type="text" tabindex="9" id="txtT7" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Aug:</li>
                        <li>
                            <input type="text" tabindex="10" id="txtT8" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Sep:</li>
                        <li>
                            <input type="text" tabindex="11" id="txtT9" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Oct:</li>
                        <li>
                            <input type="text" tabindex="12" id="txtT10" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Nov:</li>
                        <li>
                            <input type="text" tabindex="13" id="txtT11" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Dec:</li>
                        <li>
                            <input type="text" tabindex="14" id="txtT12" style="width: 100px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="bottom-popup">
            <ul class="buttonPopup nr">
                <li>
                    <input type="button" value="Update" id="popup_save" /></li>
                <li>
                    <input type="button" value="Close" id="popup_cancel" /></li>
            </ul>
            <div style="clear: both;">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
