<div id="divPopupBg" class="_divPopup_bg">
</div>
<div id="divPopupUploadReport" class="_divPopup_border _divPopup_wrapperMain" style="width: 550px;">
    <div class="_divPopup_wrapper">
        <div style="height: 30px;" class="barpopup">
            <div style="float: left;" class="titlepopup">
                Upload Report
            </div>
            <div style="float: right;" class="popupclosebutton" title="Close">
                &nbsp;</div>
            <div style="clear: both;">
            </div>
        </div>
        <div class="content_popup">
            <div class="form">
                <form id="frmUploadFile" method="post">
                <div class="row">
                    <ul>
                        <li class="text" style="padding-top: 13px">File:</li>
                        <li>
                            <input type="file" accept="*" class="fileUload" size="30" tabindex="20" name="txtFileUpload"
                                id="txtFileUpload" style="height: 24px; width: 400px" />
                            <input type="hidden" id="hfOldFileUpload" name="hfOldFileUpload" value="" />
                        </li>
                        <!--<li style="min-width: 20px;">
                            <a href="javascript:;" class="bt-upload" id="btnUpload">Upload</a>
                        </li>-->
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                </form>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="bottom-popup">
            <ul class="buttonPopup nr" style="display: block">  
                <li>
                    <input type="button" value="Upload" id="btnUpload" /></li>
                <li>
                    <input type="button" value="Close" id="popup_cancel" /></li>
                    
            </ul>
            <div style="clear: both;">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
