<div id="divPopupBg" class="_divPopup_bg">
</div>
<div id="divPopupUpdateReportList" class="_divPopup_border _divPopup_wrapperMain"
     style="width: 760px;">
    <div class="_divPopup_wrapper">
        <div style="height: 30px;" class="barpopup">
            <div style="float: left;" class="titlepopup">
                Add New Code List
            </div>
            <div style="float: right;" class="popupclosebutton" title="Close">
                &nbsp;
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <div class="form">
            <div class="row">
                <ul>
                    <li class="text">Code:</li>
                    <li>
                        <input type="text" tabindex="1" id="txtCode" style="width: 250px;" maxlength="200"
                               fempty="*" />
                    </li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="row">
                <ul>
                    <li class="text">Name:</li>
                    <li id="txtReportName">
                        <input type="text" tabindex="1" id="txtName" style="width: 250px;" maxlength="200"
                               fempty="*" />
                    </li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="row">
                <ul>
                    <li class="text">Segment:</li>
                    <li>
                        <input type="text" tabindex="1" id="txtSegment" style="width: 250px;" maxlength="200"
                               fempty="*" />
                    </li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="row" id="divDeadline">
                <ul>
                    <li class="text">Effective Date:</li>
                    <li>
                        <input type="text" tabindex="1" id="txtEffectiveDate" style="width: 250px;" maxlength="200"
                               fempty="*" />
                    </li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="row">
                <ul>
                    <li class="text">Requester:</li>
                    <li>
                        <input type="text" tabindex="1" id="txtRequester" style="width: 250px;" maxlength="200"
                               fempty="*" />
                    </li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="row">
                <ul>
                    <li class="text">Status:</li>
                    <li>
                        <select tabindex="7" style="width: 180px;" class="select spanTooltip" id="ddlStatus" fempty="*">
                            <option value="1">Invalid</option>
                            <option value="2">Valid</option>
                        </select>
                    </li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="row">
                <ul>
                    <li class="text">Field:</li>
                    <li>
                        <select tabindex="7" style="width: 180px;" class="select spanTooltip" id="ddlField" fempty="*"></select>
                    </li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="row" id="divType">
                <ul>
                    <li class="text">Type:</li>
                    <li>
                        <select tabindex="7" style="width: 180px;" class="select spanTooltip" id="ddlType" fempty="*"></select>
                    </li>
                </ul>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="bottom-popup">
            <ul class="buttonPopup nr">
                <li>
                    <input type="button" value="Update" id="popup_save" />
                </li>
                <li>
                    <input type="button" value="Close" id="popup_cancel" />
                </li>
            </ul>
            <div style="clear: both;">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
