<div id="divPopupBg" class="_divPopup_bg">
</div>
<div id="divPopupChooseMember" class="_divPopup_border _divPopup_wrapperMain" style="width: 350px; height: 365px;">
    <div class="_divPopup_wrapper">
        <div style="height: 30px;" class="barpopup">
            <div style="float: left;" class="titlepopup">
                Choose Account Add To Division
            </div>
            <div style="float: right;" class="popupclosebutton" title="Đóng">&nbsp;</div>
            <div style="clear: both;"></div>
        </div>
        <div class="content_popup">
            <div class="form">
                <!--<div class="row">
                    <ul>
                        <li class="text">Account Name:</li>
                        <li><input type="text" id="txtUserName" style="width: 178px;"/></li>
                        <li style="width:80px; min-width:80px"><input type="button" value="Search" class="button" id="btnSearchAdmin"/></li>
                    </ul>
                    <div class="clear"></div>
                </div>-->
                <div class="row" style="max-height: 269px;overflow: auto;">
                    <table class="table" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="checkallAdmin"/>
                                </th>
                                <th>
                                    Account Name
                                </th>
                                <th>
                                    Full Name
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbListMember">
                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="bottom-popup">
            <ul class="buttonPopup nr">
                <li><a id="popup_save_member" href="javascript:;">Update</a></li>
                <li><a id="popup_cancel_member" href="javascript:;">Close</a></li>
                </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>