<div id="divPopupBg" class="_divPopup_bg">
</div>
<div id="divPopupSaleOff" class="_divPopup_border _divPopup_wrapperMain" style="width: 340px;">
    <div class="_divPopup_wrapper">
        <div style="height: 30px;" class="barpopup">
            <div style="float: left;" class="titlepopup">
                Date Sale Off
            </div>
            <div style="float: right;" class="popupclosebutton" title="Close">
                &nbsp;</div>
            <div style="clear: both;">
            </div>
        </div>
        <div class="content_popup" style="width: 340px; float: left; border-right: 1px solid #ddd">
            <div class="form">
                <div class="row">
                    <ul>
                        <li class="text">Dao Code:</li>
                        <li>
                            <input type="text" tabindex="1" disabled="disabled" id="txtDaoCode" style="width: 104px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Sale Name:</li>
                        <li>
                            <input type="text" tabindex="2" disabled="disabled" id="txtSaleName1" style="width: 180px;" maxlength="50"
                                fempty="*" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>                
                <div class="row">
                    <ul>
                        <li class="text">Date Off:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtDateOff" style="width: 104px;"
                                fempty="*" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>                                      
                <div class="clear">
                </div>
            </div>
        </div>        
        <div class="clear">
        </div>
        <div class="bottom-popup">
            <ul class="buttonPopup nr">
                <li>
                    <input type="button" value="Update" id="popup_save_saleoff" /></li>
                <li>
                    <input type="button" value="Close" id="popup_cancel" /></li>
            </ul>
            <div style="clear: both;">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
