<div id="divPopupBg" class="_divPopup_bg">
</div>
<div id="divPopupUpdateHr" class="_divPopup_border _divPopup_wrapperMain" style="width: 700px;">
    <div class="_divPopup_wrapper">
        <div style="height: 30px;" class="barpopup">
            <div style="float: left;" class="titlepopup">
                Add New Sale
            </div>
            <div style="float: right;" class="popupclosebutton" title="Close">
                &nbsp;</div>
            <div style="clear: both;">
            </div>
        </div>
        <div class="content_popup" style="width: 340px; float: left; border-right: 1px solid #ddd">
            <div class="form">
                <div class="row">
                    <ul>
                        <li class="text">Dao Code:</li>
                        <li>
                            <input type="text" tabindex="1" id="txtDaoCode" style="width: 104px;" maxlength="10" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">HR Staff:</li>
                        <li>
                            <input type="text" tabindex="1" id="txtHrStaff" style="width: 104px;" maxlength="10"
                                fempty="*" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Sale Name:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtSaleName" style="width: 180px;" maxlength="50"
                                fempty="*" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Team:</li>
                        <li>
                            <select style="width: 110px;" class="select" id="ddlTeam1">
                            </select>
                            <input type="text" id="txtTeam" style="width: 104px; display: none;" />
                        </li>
                        <li style="padding-top: 9px; font-size: 10px;"><a id="aTeam" href="#">Add New Team</a></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Channel:</li>
                        <li>
                            <select style="width: 110px;" class="select" id="ddlChannel">
                            </select>
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Position:</li>
                        <li>
                            <select style="width: 110px;" class="select" id="ddlPosition">
                            </select>
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Sub Position:</li>
                        <li>
                            <select style="width: 110px;" class="select" id="ddlSubPosition">
                            </select>
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>                
                <div class="row">
                    <ul>
                        <li class="text">Start Date:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtStartDate" style="width: 104px;" readonly="readonly"
                                fempty="*" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="content_popup" style="float: left; width: 340px;">
            <div class="form">
                <div class="row">
                    <ul>
                        <li class="text">Gender:</li>
                        <li>
                            <select style="width: 110px;" class="select" id="ddlGender">
                                <option value="MALE">MALE</option>
                                <option value="FEMALE">FEMALE</option>
                            </select>
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Mobile:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtMobile" style="width: 104px;" maxlength="20" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Date Of Birth:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtDob" style="width: 104px;" readonly="readonly"
                                fempty="*" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Email:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtEmail" style="width: 180px;" maxlength="50" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">National ID:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtNationalId" style="width: 104px;" maxlength="11"
                                fempty="*" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Payroll Account:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtPayroll" style="width: 180px;" maxlength="50" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Address:</li>
                        <li>
                            <input type="text" tabindex="2" id="txtAddress" style="width: 180px;" maxlength="200" />
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="row">
                    <ul>
                        <li class="text">Note:</li>
                        <li>
                            <textarea id="txtNote" rows="3" cols="4" style="width: 182px" fempty="*"></textarea>
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="bottom-popup">
            <ul class="buttonPopup nr">
                <li>
                    <input type="button" value="Update" id="popup_save" /></li>
                <li>
                    <input type="button" value="Close" id="popup_cancel" /></li>
            </ul>
            <div style="clear: both;">
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
