<appSettings>
  <add key="WebRoot" value="http://localhost:8085/"/>

  <add key="WEB_DESCRIPTION" value="System Manager Report"/>

  <!-- Set thời gian tồn tại cookie tính theo phút: 60*15 = 15 giờ -->
  <add key="COOKIE_DOMAIN" value=""/>
  <add key="COOKIE_EXPIRES" value="10000"/>

  <!-- NO IMAGE -->
  <add key="Resources.NoImage" value="/resources/noimage.jpg" />
  <add key="Path.NoImage" value="\resources\upload\images\noimage.jpg"/>

  <!-- Cấu hình Editor -->
  <add key="Path.Editor.Images" value="\resources\editor\images\" />
  <add key="Url.Editor.Images" value="/resources/editor/images/" />
  <add key="Resources.Editor.Images" value="/resources/editor/images/" />

  <!-- Cấu hình Resource -->
  <add key="Resources.Upload.File" value="D:\BICC\report\files\"/>
  <add key="Resources.Upload.FileEmail" value="D:\BICC\report\files\"/>
  <add key="Resources.Request.Form" value="D:\BICC\requestform\"/>

  <add key="Path.Resource.CKFinder" value="\resources\"/>
  <add key="Resource.CKFinder" value="http://localhost:8085/resources/"/>

  <!--Cấu hình Url Resource-->
  <add key="Url.Upload.Images.Adv" value="/resources/upload/images/" />
  <add key="Url.Upload.Images.Product" value="/resources/upload/images/" />

  <add key="Url.Upload.Images.Adv.System" value="/resources/upload/system/" />
  <add key="Url.Upload.Images.News.System" value="/resources/upload/system/" />
  <add key="Url.Upload.Images.Product.System" value="/resources/upload/system/" />

  <add key="Url.Upload.Images.News" value="/resources/upload/images/" />

  <add key="Url.NoImage" value="/resources/upload/images" />

  <add key="KEY_ACCESS_WEBSITE" value="sa123@#$%" />

  <add key="RESOURCES_EXPORT_EXCEL" value="C:\log\" />


  <!-- Cấu hình khác-->
  <add key="ImageUploadExtension" value=".jpg|.png|.gif|.jpeg|.swf" />
  <add key="FileUploadExtension" value=".doc|.docx|.txt|.pdf|.xlsx|.xls|.rar|.zip|.jpg|.png|.gif|.jpeg|.swf" />
  <add key="ImageMaxLengthUpload" value="500" />
  <add key="FileMaxLengthUpload" value="500" />
  <add key="TimeCacheWeb" value="30" />

  <add key="TIME_SESSION_EXPIRES" value="30" />
  <add key="EMAIL_SHOP" value="banashop222@yahoo.com.vn" />

  <add key="Mail.Host" value="112.213.89.169"/>
  <add key="Mail.Post" value="25"/>
  <add key="Mail.SendFrom" value="info@benxenghean.com.vn"/>
  <add key="SMTP.UserName" value="info@benxenghean.com.vn"/>
  <add key="SMTP.Password" value="sa123456"/>

  <add key="UserNotLdap" value="admin;bom;test;tungnt9;giangpt3;bichvt;namhoasao; vivek;phuongmh1; trangtt6; cucnt3"/>

</appSettings>