<connectionStrings>
  <add name="CONNECTION_STRING_DATABASE" connectionString="Data Source=10.36.76.12;Initial Catalog=VPBReport;uid=sa;pwd=biccPortal@2016"
     providerName="System.Data.SqlClient" />
  <add name="DASHBOARDConnectionString" connectionString="Data Source=10.36.76.12;Initial Catalog=DASHBOARD.GENERAL;User ID=sa;Password=biccPortal@2016"
    providerName="System.Data.SqlClient" />
  <add name="HRConnectionString" connectionString="Data Source=10.36.76.12;Initial Catalog=HR;User ID=sa;Password=biccPortal@2016"
    providerName="System.Data.SqlClient" />
</connectionStrings>