<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataContext.Properties.Settings.QuanLyNganSachConnectionString"
            connectionString="Data Source=SONPV-PC\MSSQL2008;Initial Catalog=QuanLyNganSach;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.VPBConnectionString"
            connectionString="Data Source=.\SQL2008;Initial Catalog=VPB;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.VPBReportConnectionString"
            connectionString="Data Source=HO-TTPTKD-KIENL;Initial Catalog=VPBReport;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.ReportTestConnectionString"
            connectionString="Data Source=HO-TTPTKD-KIENL;Initial Catalog=ReportTest;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.DASHBOARDConnectionString"
            connectionString="Data Source=HO-TTPTKD-KIENL;Initial Catalog=DASHBOARD;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.DASHBOARD_GENERALConnectionString"
            connectionString="Data Source=HO-TTPTKD-KIENL;Initial Catalog=DASHBOARD.GENERAL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.DASHBOARD_GENERALConnectionString1"
            connectionString="Data Source=10.39.36.80;Initial Catalog=DASHBOARD.GENERAL;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.DASHBOARD_GENERALConnectionString2"
            connectionString="Data Source=HO-TTPTKD-KIENL;Initial Catalog=DASHBOARD.GENERAL;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.VPBReportLocalConnectionString"
            connectionString="Data Source=10.39.36.80;Initial Catalog=VPBReportLocal;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.VPBReportConnectionString1"
            connectionString="Data Source=10.39.36.80;Initial Catalog=VPBReport;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.DASHBOARD_GENERALConnectionString3"
            connectionString="Data Source=10.39.36.80;Initial Catalog=DASHBOARD.GENERAL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.DASHBOARD_GENERALConnectionString4"
            connectionString="Data Source=10.36.76.12;Initial Catalog=DASHBOARD.GENERAL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.VPBReportConnectionString2"
            connectionString="Data Source=10.36.76.12;Initial Catalog=VPBReport;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.VPBReportConnectionString3"
            connectionString="Data Source=(local);Initial Catalog=VPBReport;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.VPBReportConnectionString4"
            connectionString="Data Source=(local);Initial Catalog=VPBReport;User ID=sa;Password=abc@123"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.VPBReportBackup20170724ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=VPBReportBackup20170724;User ID=sa;Password=abc@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>